@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

@layer theme {
  :root {
    color-scheme: light dark;
    --color-primary: 248 69 101;
    --color-primary-dull: 214 56 84;
  }
}

* {
  font-family: "Oswald", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body {
  color: white;
  background-color: #1e1e1e;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}